.aboutArch {
    background-color:  #202121;
    padding: 3%;
}

 #cardArch {
    font-family: "Noto Serif", serif;

}

.card-text-again {
    width: 70%;
    font-size: 0.8rem;
    margin-left: 12%;
}

.card-body-basic {
    background-color: #202121;
    color: ghostwhite;
    text-align: center;
    padding: 5%; 
    width: 90%;

}

#circular {
    color: ghostwhite;
    background-color: #202121;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    border-radius: 60%;
    margin-left: 10%;

}


