.container-fluid-foot {
    text-align: center;
    font-family: "Montserrat-Light", sans-serif;
    background-color: #f3f3f3;
    color: gray;
    width: 100%;
    font-size: .9rem;
    height: 70px;
}

.container-txt {
    margin-top: 2%;
}