.nav-background {
    background-color: #34495E;   
}

.animx-color {
    color: #F7DC6F;    
}

.animx-font {
    font-size: 30px;
    font-family: 'Major Mono Display', monospace;
}

.animx-subtitle {
    color: #F5CBA7;
    font-family: 'Major Mono Display', monospace;
    font-size: 13px;
}

.menu-opacity {
    opacity: 0.9;
    border: .5px solid white;
    background-color: #34495E;  
    color:  #F7DC6F;

}