.wrapper {
    background-color: #85929E;
}

.heading-background {
    background-image: url("./images/bg-triangle.jpg");
    height: 1200px;
    background-position-y: -20px;
    background-position-x: -100px;
}

.heading-title,
.heading-lead {
    color: #D35400 ;
    font-family: 'Major Mono Display', monospace;
}

.heading-button {
    font-family: 'Major Mono Display', monospace;
    border-color: #D35400;
    background: none;
}


