.contact-container-two {
    font-family: 'Noto Serif', serif;
    background-color:  #202121;
    color: ghostwhite;
    font-size: 1rem;
    text-align: center;
    padding: 6%;
    border-radius: 60%;
    width: 35%;
    margin-left: 33%;
    margin-top: 7%;
    margin-bottom: 11%;
}

.contentArch {
    text-align: center;
    margin-top: 5%;
}


 #contactFA {
    background-color: #202121;
    color: ghostwhite;
    border-radius: 60%;
} 


.archContact {
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

 #emailID {
    background-color: #202121;
    color: ghostwhite;
    margin-top: 5%;
} 


#faicons {
    text-align: center;
    background-color: white;
    margin-top: -5%;
  }
  
#font {
  color: ghostwhite;
  margin-top: -7%;

  }

  .envelope {
  text-align: center;
  margin-left: 2%;
  }
  
  
  #font.fa-envelope, #font.fa-linkedin-in, #font.fa-github, #font.fa-twitter, #font.fa-instagram, #font.fa-facebook-square {
    margin-top: -2.3%;
    font-size: 24px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 360px;
    -webkit-animation:colorchange 20s infinite alternate;
  }
