.card {
    background-color: #F3f3f3;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
}

.h3 {
    font-family: "Montserrat", sans-serif; 
}

.aboutMe {
    width: 70%;
    font-family: "Montserrat-Light", sans-serif;   
    color: gray;
    margin: 7%;

}

.fa-user {
    font-size: 10rem;
    margin-right: 3%;
}

/* img {
    width: 20rem !important;
    height: 19rem !important;
} */

.responsive-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-right: 6rem;
  }


