html {
    background-color: #202121;
    color: ghostwhite;

}
body {
    background-color: #202121;
    color: ghostwhite;
    text-align: center;
    padding-top: 60px;
}


.foot2 {
    background-color:  #202121; 
}