.gallery {
    background-color: #202121;
    font-family: "Noto Serif", serif;


}


img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  


  img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }



/* a:hover { 
    background-color: yellow;
  } */

  .image-work-responsive {
    width: 100%;
    max-width: 270px;
    height: auto;
  }