.architect-footer {
    font-family: 'Noto Serif', serif;
    color: ghostwhite;
    background-color: #202121;
    font-size: 0.8rem;
    padding: 2%;
    margin-top: -1.5%;
    margin-bottom: -5%;
    text-align: center;
}