.architect-footer {
    font-family: 'Noto Serif', serif;
    color: ghostwhite;
    background-color: #202121;
    font-size: 0.8rem;
    padding: 3%;
    text-align: center;
    margin-bottom: 0%;

}