.card-size {
    height: 20rem;
}

#tempPage {
    height: 100vh;
}

.jumbotron{
    height: 100vh;
}

img {
    height: 16rem;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

#cardT {
    font-family: 'Major Mono Display', monospace;
}