.card-size {
    height: 20rem;
}

.card-img-top {
    height: 18rem;
    width: 14rem;

/* Double check! */
/* TODO: Please Check this!! */
/* #tempPage {
    height: 100vh;
}

.jumbotron{
    height: 100vh;
}

img {
    height: 16rem;
} */
